mat-drawer {
  width: 250px;
  background-color: #fff;
  z-index: 1000;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
}

.top-toolbar {
  position: fixed;
  top: 0;
  height: 90px;
  background-color: #131E23;
  color: white;
  display: flex;
  align-items: center;
  z-index: 1000;

  .menu-button {
    color: white;
  }

  .logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    pointer-events: none;

    img.logo {
      height: 44px;
      width: 200px;
    }
  }
}

::ng-deep .mat-mdc-list-item-unscoped-content.mdc-list-item__primary-text {
  display: flex !important;
  align-items: center;
  gap: 8px;
}

mat-nav-list {
  padding: 0;
}

.active {
  background-color: rgba(169, 169, 169, 0.17);
  border-radius: 0 !important;

  ::ng-deep span, mat-icon {
    color: #ffffff !important;
  }
}

mat-drawer {
  width: 250px;
  background-color: #131E23;
  border-radius: 0 !important;
  z-index: 1000;
}
