<mat-drawer-container class="container" [hasBackdrop]="false">
  <mat-drawer #drawer mode="push" opened="false">
    <mat-nav-list class="mat-list">
      <a routerLinkActive="active" mat-list-item matRipple routerLink="/people-registration">
        <mat-icon>groups</mat-icon>
        Cadastro de pessoas
      </a>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary" class="top-toolbar">
      <button mat-icon-button (click)="drawer.toggle()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="logo-container">
        <img src="/logo-company.svg" alt="Logo da Empresa" class="logo" />
      </span>
    </mat-toolbar>
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>


