@use '@angular/material' as mat;

$primary-color: #131E23;
$color-secondary: #ffffff;
$secondary-color: #ffffff;
$table-bg: #f5f5f5;
$bg-overlay: rgba(255, 255, 255, 0.15);
$shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
$section-title-font-size: 2.5rem;
$section-title-font-weight: 500;
$padding: 90px 4rem;
$home-bg: url('../../../../public/home-bg.jpeg');

$breakpoint-xl: 944px;
$breakpoint-lg: 785px;
$breakpoint-md: 620px;
$breakpoint-sm: 480px;
$breakpoint-xs: 375px;
$mobile-breakpoint: 600px;

@mixin respond-to($size) {
  @if $size == xl {
    @media (max-width: $breakpoint-xl) {
      @content;
    }
  } @else if $size == lg {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  } @else if $size == md {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $size == sm {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $size == xs {
    @media (max-width: $breakpoint-xs) {
      @content;
    }
  } @else if $size == mobile {
    @media (max-width: $mobile-breakpoint) {
      @content;
    }
  }
}

@include respond-to(mobile) {
  .header-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-box button {
    margin-top: 1rem;
  }

  .filter-form {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
  }
}

.people-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: $home-bg no-repeat center center fixed;
  background-size: cover;
  padding: $padding;
  gap: 1rem;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.filter-box {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  border-radius: .5rem;
  max-width: 935px;
  padding: 0 1rem;
  justify-content: space-between;
  background-color: $primary-color;

  h3 {
    font-size: 1.2rem;
    color: $color-secondary;
    font-family: var(--app-font-family);
    margin: 0;
  }
}

.content-box {
  box-sizing: border-box;
  box-shadow: $shadow;
  width: 100%;
  border-radius: 1px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  max-width: 935px;
  background-color: $color-secondary;
}

.header-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 935px;
  width: 100%;
  justify-content: space-between;

}

.section-title {
  font-size: $section-title-font-size;
  font-weight: $section-title-font-weight;
  margin: 0;
  color: $color-secondary;
}

.table-wrapper {
  overflow: scroll;
  height: 400px;
}

:host {
  @include mat.table-overrides((
    row-item-outline-color: #D9D9D9,
  ));
}

table {
  width: 100%;
  margin-bottom: 1rem;
}

.thead {
  background-color: $primary-color !important;
  color: $color-secondary !important;
  font-weight: 400;
}

td {
  background-color: $color-secondary;
  padding: 1rem;
}

.filter-form {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  justify-content: flex-end;
}

.text-right {
  text-align: right;
}

button {
  border: 1px solid $color-secondary;
  background: transparent;
  color: $primary-color;
}

button:hover {
  background: $bg-overlay;
}

.create-people-button {
  padding: 1.3rem 0.7rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: $color-secondary !important;

  .mat-icon {
    color: $color-secondary;
  }

  .button-text {
    color: $color-secondary;
  }
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.mat-form-field {
  width: 200px;
  position: relative;
  top: .6rem;

  @include mat.select-overrides((
    placeholder-text-color: $secondary-color,
    enabled-trigger-text-color: $secondary-color,
    trigger-text-line-height: 3
  ));


  @include mat.form-field-overrides((
    input-text-color: $secondary-color,
    label-text-color: $secondary-color,
    hover-outline-color: $secondary-color,
    hover-label-text-color: $secondary-color,
    outline-color: $secondary-color,
    input-text-placeholder-color: $secondary-color,
    focus-outline-color: $secondary-color,
    focus-label-text-color: $secondary-color,
    container-text-line-height: 3
  ));
}

::ng-deep div.mat-mdc-select-panel {
  background-color: $color-secondary !important;
}

::ng-deep .mat-mdc-table {
  min-width: 100%;
  border: 0;
  border-spacing: 0;
  table-layout: auto;
  white-space: normal;
  background-color: $table-bg !important;
}

mat-paginator {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0.5rem;
  flex-wrap: wrap;
  width: 100%;
  min-height: var(--mat-paginator-container-size);
  background-color: $color-secondary;
  border: none;
}

.empty-table {
  padding: 2rem;
}

::ng-deep .mat-mdc-header-row, .mat-mdc-header-cell {
  position: sticky !important;
  top: 0 !important;
  z-index: 9999 !important;
  background-color: $primary-color !important;
}

