<div class="people-container">
  <div class="header-box">
    <h1 class="section-title">Cadastro de pessoas</h1>
    <button class="create-people-button" mat-stroked-button (click)="createPerson()">
      <span class="create-people-button">Novo cadastro
        <mat-icon>arrow_right_alt</mat-icon>
      </span>
    </button>
  </div>

  <div class="filter-box">
    <h3>Filtrar</h3>
    <form [formGroup]="filterForm" class="filter-form">
      <mat-form-field appearance="outline" class="mat-form-field">
        <input matInput placeholder="Buscar por nome" formControlName="name"/>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mat-form-field">
        <mat-select formControlName="sortBy">
          <mat-option value="name:asc">Nome A-Z</mat-option>
          <mat-option value="name:desc">Nome Z-A</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <app-people-registration-table
    class="content-box"
    [filtered]="filtered()"
    [totalCount]="totalCount()"
    (deletePerson)="deletePerson($event)"
    (editPerson)="editPerson($event)"
    (page)="paginationSignal.set($event)"
  ></app-people-registration-table>

</div>
