@use '@angular/material' as mat;

$primary-color: #131E23;
$secondary-color: #ffffff;

.table-wrapper {
  overflow: scroll;
  height: 400px;
}

table {
  width: 100%;
  margin-bottom: 1rem;
}

.thead {
  background-color: $primary-color !important;
  color: $secondary-color !important;
  font-weight: 400;
}

td {
  background-color: $secondary-color;
  padding: 1rem;
}

.filter-form {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  justify-content: flex-end;
}

.text-right {
  text-align: right;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

mat-paginator {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0.5rem;
  flex-wrap: wrap;
  width: 100%;
  min-height: var(--mat-paginator-container-size);
  background-color: $secondary-color;
  border: none;
}

.empty-table {
  padding: 2rem;
}

:host {
  display: block;
  width: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 1px;
  position: absolute;
  top: 0.1rem;
}

::-webkit-scrollbar-track {
  z-index: -1;
  transform: translateX(-1rem);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px!important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3)!important;
}
